[Unit]
Description=getBible {{KIND}} service socket ({{DOMAIN}} {{LABEL}})

[Socket]
ListenStream={{SOCKET}}
SocketUser={{USER}}
SocketGroup={{NGINX_USER}}
SocketMode=0660
DirectoryMode=0755
Backlog=2048

[Install]
WantedBy=sockets.target
